/*********************************************
** Overriding styles
*********************************************/
.noScroll {
  overflow: hidden !important;
}
.hidden {
  display: none !important;
}
.flex {
  display: flex !important;
}
