/*********************************************
** Styling reset
*********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
